
      <html>

        <adapt-navigation
        [metadata]="metadata"
        [menu]="items"
        [actions]="actions"
        [profile]="profile">
        </adapt-navigation>
<!--
 <table role="grid" aria-labelledby="gridLabel" class="table" >
        <tr>
            <th>Parcel ID</th>
            <th>Company Name</th>
            <th>Receiver Id</th>
            <th>Deliver time</th>
        </tr>
        <tbody>
            <tr *ngFor="let employee of ParcelDatabases">
                <td>{{employee.parcelID}}</td>
                <td>{{employee.cname}}</td>
                <td>{{employee.recId}}</td>
                <td>{{employee.d_time}}</td>
                 
              </tr>
         
      </tbody>
    
      </table>

-->
<div align="center" style="display: block;"><h1><strong>History</strong></h1></div>
<div style="padding: 3%;">
<adapt-table #adaptTable [value]="ParcelDatabases" [columns]="cols" [rows]="10" [first]="0" [paginator]="true"
  [resizableColumns]="true" [bordered]="true" dataKey="parcelID" paginatorAlign="right" [loading]="loading"
  [lazyLoadOnInit]="false" [enableReorderableRows]="true"  [filterable]="true" [filters]="filters"
  [toolbarConfig]="optionsProperties.hasToolbar ? toolbarConfig : null">
</adapt-table>
</div>

</html>