<html>
<adapt-navigation [metadata]="metadata" [menu]="items" [actions]="actions">
</adapt-navigation>

<!--table  role="grid" aria-labelledby="gridLabel" class="table" >
        <tr>
          <th>Parcel ID</th>
          <th>Employee ID</th>
          <th>Company Name</th>
          <th>Receive_Time</th>
         
          <th>Rack</th>
          <th>Note</th>
          <th>Deliver_Time</th>
          <th>Check</th>
          <th>Status</th>
         
          
        </tr>
        <tbody>
          <tr *ngFor="let employee of ParcelDatabases">
              <td>{{employee.parcelID}}</td>
              <td>{{employee.empId}}</td>
              <td>{{employee.cname}}</td>
              <td>{{employee.r_time}}</td>        
              <td>{{employee.rack}}</td>
              <td>{{employee.note}}</td>
              <td>{{employee.d_time}}</td>

              <ng-template #mTemplate let-c="close">

                <adapt-textfield label="Receiver ID"
                rows="1"
                required
                name="textarea"
                [(ngModel)]="recID"></adapt-textfield>
              
             
                <button adapt-button btn-type="primary" size="large" class=" btn-primary" (click)= "handoverParcel(recID,employee.parcelID)">
                  <span>Handover</span></button>
              

              
              </ng-template>
              
<td>
  <button class="btn btn-secondary mb-1"

  (click)="open({title: 'Simple Modal', content: mTemplate})">

  Handover

  </button>
</td>
             


              <td>{{employee.status}}</td>
              </tr>
      </tbody>
    
      </table-->
      <div align="center" style="display: block;"><h1><strong>Dashboard</strong></h1></div>
<ng-template #bTemplate let-column="column" let-dataItem="dataItem" >
  <adapt-button btn-type="primary" (click)="open({title: 'Receiver Details', content: mTemplate}, dataItem)">Handover</adapt-button>
</ng-template>

<ng-template #mTemplate let-c="close">
  <div align="center"  style="display: block;">
    <adapt-textfield style="display:inline-block; align-self: center;" label="Receiver ID" rows="1" required name="textarea" [(ngModel)]="recID"></adapt-textfield>
  </div>
  <!--
  <div align="center"  style="display: block;">
    <adapt-textfield style="display:inline-block; align-self: center;" label="OTP" rows="1" required name="textarea2" [(ngModel)]="otp"></adapt-textfield>
  </div-->
  <div align="center"  style="display: block;">
    <button adapt-button style="display:inline-block; align-self: center;" btn-type="primary" size="large" class=" btn-primary" (click)="handoverParcel(recID)">
      <span>Handover</span></button>
  </div>
  
</ng-template>
<div style="padding: 3%;">
<adapt-table #adaptTable [value]="ParcelDatabases" [columns]="cols" [rows]="10" [first]="0" [paginator]="true"
  [resizableColumns]="true" [bordered]="true" dataKey="parcelID" paginatorAlign="right" [loading]="loading"
  [lazyLoadOnInit]="false" [enableReorderableRows]="true" [filterable]="true" [filters]="filters" [sortable]="true"

  [toolbarConfig]="optionsProperties.hasToolbar ? toolbarConfig : null" >
</adapt-table>
</div>
</html>