table, th, td {
    border: 1px solid black;
    margin-top: 70px;
    text-align: center;
  }
  button{
      margin-top: 50px;
      margin-left: 100px;
      margin-right: 50px;
  }
  .handover{
      margin: auto;
      display: block;
  }