
      <html>

        <adapt-navigation
        [metadata]="metadata"
        [menu]="items"
        [actions]="actions"
        [profile]="profile">
        </adapt-navigation>
       <!--
 <table role="grid" aria-labelledby="gridLabel" class="table" >
        <tr>
            <th>Parcel ID</th>
            <th>Parcel Name</th>
            <th>Receive time</th>
            <th></th>
        </tr>
        <tbody>
            <tr *ngFor="let employee of ParcelDatabases">
                <td>{{employee.parcelID}}</td>
                <td>{{employee.cname}}</td>
                <td>{{employee.r_time}}</td>
                <td><button class = "handover" (click)="collectParcel(employee.parcelID)">Collect</button></td>   
                
              </tr>
         
      </tbody>
    
      </table>
       --> 
<adapt-table #adaptTable [value]="ParcelDatabases" [columns]="cols" [rows]="10" [first]="0" [paginator]="true"
  [resizableColumns]="true" [bordered]="true" dataKey="parcelID" paginatorAlign="right" [loading]="loading"
  [lazyLoadOnInit]="false" [enableReorderableRows]="true" [filterable]="true" [filters]="filters"
  [toolbarConfig]="optionsProperties.hasToolbar ? toolbarConfig : null">
</adapt-table>

   
      
</html>